<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/micgonzalez/Automated-Labeling-Tool" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/1_new.jpg" class="img-responsive" alt="Automated Labeling Tool for Disney Data Analyst Role">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Professional
                            </div>
                            <div class="project-name">
                                Automated Labeling Tool 
                                <br>
                                <br>
                                Created this python tool for my Disney job.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/micgonzalez/Disneyland-Resort-Reviews-Report" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/2_new.jpg" class="img-responsive" alt="Disneyland Resort Reviews Report">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Professional
                            </div>
                            <div class="project-name">
                                Disneyland Resort Reviews Report
                                <br>
                                <br>
                                Weekly Report for Disneyland Resort.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://public.tableau.com/app/profile/michael.gonzalez8104" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/3_new.jpg" class="img-responsive" alt="Profile of Tableau Projects">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Professional
                            </div>
                            <div class="project-name">
                                Profile of Tableau Projects
                                <br>
                                <br>
                                Displaying public profile of Tableau projects.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/micgonzalez/Holidays-at-DLR-2022-ARR" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/4_new.jpg" class="img-responsive" alt="Holidays at DLR 2022 ARR">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Professional
                            </div>
                            <div class="project-name">
                                Holidays at DLR 2022 ARR
                                <br>
                                <br>
                                After-Action Report of Holidays at DLR.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/micgonzalez/Comment-Trends-Dashboard" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/5_new.jpg" class="img-responsive" alt="Interactive Excel Dashboard">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Professional
                            </div>
                            <div class="project-name">
                                Interactive Excel Dashboard
                                <br>
                                <br>
                                Dashboard with insights from Tripadvisor's data on Disneyland.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/micgonzalez/MySQL-Soccer-Players-Stats-Database" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/6_new.jpg" class="img-responsive" alt="MySQL Soccer Players Stats Database">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Professional
                            </div>
                            <div class="project-name">
                                MySQL Soccer Database
                                <br>
                                <br>
                                 Pulling data from a remote MySQL database.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
