<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/micgonzalez/311-data/tree/dataAnalysis/dataAnalysist" class="portfolio-box">
                    <img src="img/portfolio/1_new.jpg" class="img-responsive" alt="Los Angeles 311 Service Analysis">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Professional
                            </div>
                            <div class="project-name">
                                Los Angeles 311 Service Analysis
                                <br>
                                <br>
                                Displaying insights from service request data.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/micgonzalez/Pivot-Table-in-Excel" class="portfolio-box">
                    <img src="img/portfolio/2_new.jpg" class="img-responsive" alt="Paint Sales in Excel">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Professional
                            </div>
                            <div class="project-name">
                                Paint Sales in Excel
                                <br>
                                <br>
                                Creating a pivot table of regional sales data.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/micgonzalez/Data-Modeling-in-Excel" class="portfolio-box">
                    <img src="img/portfolio/3_new.jpg" class="img-responsive" alt="Data Modeling with Pivot Table">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Professional
                            </div>
                            <div class="project-name">
                                Data modeling in Excel
                                <br>
                                <br>
                                Displaying data modeling with a pivot table.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/micgonzalez/Data-Visualizations-in-Power-BI" class="portfolio-box">
                    <img src="img/portfolio/4_new.jpg" class="img-responsive" alt="Data Visualizations in Power BI">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Professional
                            </div>
                            <div class="project-name">
                                Data Visualizations in Power BI
                                <br>
                                <br>
                                Displaying visualizations created in Power BI.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/micgonzalez/lucky-parking/tree/reddit-analysis/notebooks" class="portfolio-box">
                    <img src="img/portfolio/5_new.jpg" class="img-responsive" alt="Lucky Parking's Reddit Text Analysis">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Professional
                            </div>
                            <div class="project-name">
                                Lucky Parking's Reddit Text Analysis
                                <br>
                                <br>
                                Looking for insights from Reddit posts.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/micgonzalez/MySQL-Database-Visualizations" class="portfolio-box">
                    <img src="img/portfolio/6_new.jpg" class="img-responsive" alt="MySQL Database Visualizations">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Professional
                            </div>
                            <div class="project-name">
                                MySQL Database Visualizations
                                <br>
                                <br>
                                 Pulling data from a remote database to create visualizations.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
